<div class="login-dialog">
  <div mat-dialog-title class="flex justify-between">
    <h1 class="flex justify-center items-center">Sign In</h1>
    <mat-icon fontIcon="cancel" class="mat-icon-36" (click)="onClose()"></mat-icon>
  </div>
  
  <div mat-dialog-content class="flex flex-col justify-center items-center">
    <form class="flex flex-col gap-5" [formGroup]="formGroup">
      <mat-form-field class="w-[220px]">
        <mat-label>Enter Email</mat-label>
        <input matInput type="email" placeholder="Email" formControlName="email" required>
      </mat-form-field>

      <mat-form-field class="w-[220px] login-dialog-password" [class.error]="dataService.wrongPassword">
        <mat-label>Enter Password</mat-label>
        <input matInput type="password" placeholder="Password" formControlName="password" required>
      </mat-form-field>
    </form>
    
  </div>
  <div mat-dialog-actions class="flex gap-4">
    <button mat-button class="text-primary login-dialog-button login-dialog-button--cancel" (click)="onCancel();">Cancel</button>
    <button mat-button class="text-link login-dialog-button" [disabled]="submitButtonDisabled$ | async" (click)="onSubmith()">Log In</button>
  </div>
</div>
