<div class="flex justify-between items-center mb-[50px] header">
  <div class="flex items-center gap-2">
    <img src="../../assets/icons/angular-logo.svg" alt="logo" width="40px" height="40px">
    <p class="text-xl font-bold header-logo">Logo</p>
  </div>

  <div class="flex gap-7">
    <a class="text-link header-link" routerLink="/home">Home</a>
    <a class="text-link header-link" routerLink="/inventory">Inventory</a>
    <a class="text-link header-link" routerLink="/reports">Reports</a>
    <a class="text-link header-link" routerLink="/billings">Billing</a>
    <a class="text-link header-link" routerLink="/profile">Profile</a>
  </div>

  <auth-button></auth-button>
</div>