<div class="flex justify-between items-center mb-[50px] header">
  <div class="flex items-center gap-2 min-w-[300px]">
    <img src="../../assets/icons/angular-logo.svg" alt="logo" width="40px" height="40px">
    <p class="text-xl font-bold header-logo">Logo</p>
  </div>

  <div class="flex gap-7">
    <a class="text-link header-link" routerLink="/home">Home</a>
    <a class="text-link header-link" routerLink="/inventory">Inventory</a>
    <a class="text-link header-link" routerLink="/reports">Reports</a>
    <a class="text-link header-link" routerLink="/billings">Billing</a>
    <a class="text-link header-link" routerLink="/profile">Profile</a>
  </div>

  

  <div class="flex justify-end items-center gap-5 min-w-[300px]">
    <p *ngIf="user" class="text-primary justify-self-center">{{user?.last_name}} {{user?.first_name | slice:0:1}}.</p>
    <div class="flex justify-self-end">
      <auth-button></auth-button>
    </div>
  </div>
  
</div>